html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

h2{
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
}

/* Estilização Header */
header {
    margin: 0 auto;
    padding: 20px 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bkg-color-header);
    background-image: url(../images/bg__header--desk.png);
}

header img {
    width: 120px;
}

header ul {
    display: flex;
    gap: 25px;
}

header ul li a {
    color: var(--white);
    font-weight: 500;
    font-size: 1.6rem;
}

header ul li a:hover {
    color: var(--color-text-hover);
    opacity: 0.5;
    transition: 0.3s ease-in-out;
}

/* Seção Sobre */

.sobre {
    display: flex;
    padding: 40px 2%;
    gap: 30px;
    background-color: var(--bkg-color-header);
    justify-content: center;
    align-items: center;
}

.sobre img {
    max-width: 250px;
    border-radius: 18px;
    border: none;
}

.sobre h1 {
    text-align: center;
    margin-bottom: 45px;
    color: var(--white);
    font-size: 2.5rem;
}

.sobre p {
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 300;
    text-align: justify;
}

.sobre p a{
    color: #f8eb73e1;
}

/* Swipper*/

swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

swiper-slide img {
    display: block;
    width: 100%;
}

swiper-slide h3{
    position: absolute;
    bottom: 18%;
    left: 10%;
    font-size: 1.8rem;
}

swiper-slide p{
    position: absolute;
    bottom: 7%;
    left: 10%;
    font-size: 1.4rem;
}

/* Formulário */

form {
    background-color: var(--bkg-color-header);
    color: var(--white);
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form h2{
    margin-bottom: 15px;
}

form .orcamento-form{
    padding: 15px 20px;
    min-width: 350px;
    margin-bottom: 10px;
    border-radius: 15px;
}

form h3{
    font-size: 2rem;
    margin: 15px 0;
    text-align: center;
    text-transform: uppercase;
}

form .dados-evento label, legend{
    font-size: 1.6rem;
}

form .dados-evento{
    display: flex;
    flex-direction: column;
}

form .form-btn{
    text-align: center;
    margin-top: 20px;
}

form .dados-evento button{
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #000;
    color: var(--white);
    padding: 10px 25px;
    border-radius: 15px;
    transition: 0.5s;
}

form .dados-evento button:hover{
    background-color: var(--color-text-hover);
    color: var(--brown);
}